@model IEnumerable<Post>

@{
    ViewBag.Title = "Post Index";
    Layout = "_Layout";
}

@{
    foreach (var post in Model)
    {
        <div class="d-flex flex-column rounded-1 border border-1 border-dark mb-4">
            <div class="border-bottom border-dark border-1">
                <h5 class="text-dark fw-bold m-0 p-3">@post.Subject</h5>
            </div>
            <!--            <div class="flex-shrink-0">
                <img src="..." alt="...">
            </div>-->
            <div class="flex-grow-1 ms-3">
                This is some content from a media component. You can replace this with any content and adjust it as needed.
            </div>
            <div class="flex-grow-1 ms-3">
                Authur @post.User.UserName @post.Timestamp <br/>
                Tags
                @string.Join(", ", post.PostTags.Select(postTag => postTag.Tag.Name))
            </div>
        </div>
    }
}