@model IEnumerable<Conversation>
@{
    ViewData["Title"] = "Conversation";
}

<h1>list of Conversation</h1>
<div class="p-3 border border-bottom border-light">
    <a class="text-dark fw-bold m-0 mb-1 text-decoration-none" href="@Url.Action("Create", "Conversation")">CreateNewConversation</a>
    <div class="d-flex flex-row justify-content-between">

       

    </div>
</div>

<div class="container">
    @foreach (Conversation conversation in Model)
    {
        <partial name="_ConversationPartialView" model="conversation"/>
    }

</div>
