
@{
    ViewData["Title"] = "Index";
}

@section Scripts
{ 
    <script src="~/js/Message.js"></script>
}


<div>
    <input type="button" class="btn-outline-secondary" onclick="getUser()" value="UsersOfCommunity"/><br /><br />
    <input type="button" class="btn-outline-secondary" onclick="getConversation()" value="Conversations"/>
</div><br />
<br />
<div id="UserList"></div>

    
