@model IEnumerable<Forum>

@{
    ViewBag.Title = "Forum Index";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/js/ToggleElement.js"></script>
}

@{
    if (User.IsInRole("Admin"))
    {
        <div class="d-flex flex-row justify-content-end mb-4">
            <div id="CreateNewContainer" hidden>
                <form class="d-inline-flex flex-row me-3" method="Post" action="@Url.Action("Create", "Forum")">
                    @Html.AntiForgeryToken()
                    <input id="Name" name="Name" placeholder="Name" class="form-control me-1" required maxlength="255"/>
                    <button id="ButtonCreateConfirm" class="btn btn-success text-white" type="submit">&#10003;</button>
                </form>
            </div>
            <button class="btn btn-primary" onclick="ToggleElement('CreateNewContainer')">New Forum</button>
        </div>
    }
}

@{
    foreach (Forum forum in Model)
    {
        <partial name="_ForumPartial" model="forum"/>
    }
}


