@model string

<div id="CreateReplyContainer" hidden="" class="w-50">
    <form class="d-flex flex-column" method="post" action="@Url.Action("Create", "Reply")">
        @Html.AntiForgeryToken()
        <input hidden="" name="ThreadId" value="@Model"/>
        <textarea class="form-control mb-2" name="Content" placeholder="New Reply"></textarea>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-success">Post</button>
        </div>
    </form>
</div>
