@model IEnumerable<Conversation>

@{
    ViewData["Title"] = "Conversation";
}
@section scripts
{
    <script src="~/js/Message.js"></script> 
}

@*<div class="flex-md-row-reverse align-content-lg-end">
    <input class="btn-outline-success align-content-md-stretch" type="button" value="Create New Conversation" onclick="location.href='@Url.Action("Create" ,"Conversation")'" /><br />

</div>*@
<br />

<div class="card border border-1">
    @foreach (Conversation conversation in Model)
    {
        <div class="d-flex flex-row justify-content-between">
            <a class="border-success" href="@Url.Action("Index" ,"Message" ,new {id = conversation.Id })">@conversation.Subject</a>

            <input class="btn-danger" type="button" value="X" onclick="location.href='@Url.Action("Delete" ,"Conversation" ,new {id = conversation.Id })'" />

        </div>
    }
</div>

