@model IEnumerable<Message>
@section scripts
{
    <script src="~/js/Message.js"></script>
}



@{
    foreach (Message message in Model)
    {
        <div class="row">
            <div class="col-md-3">
                @message.Content
            </div>
            <div class="col-md-3">
                @message.User.UserName
            </div>
            <div class="col-md-3">
                @message.TimeStamp
            </div>
            <div class="col-md-3">
                <input class="btn-danger" type="button" value="&#10060" onclick="location.href = '@Url.Action("Delete","Message",new { id = message.Id })'" />
            </div>

        </div>
    }
}

