@model IEnumerable<ApplicationUser>
@section scripts
{
    <script src="~/js/Message.js"></script>
}

<p>Select User to send private message</p>
<div class="card border border-2">
@foreach (ApplicationUser user in Model)
{

    <a class="btn-outline-success" id="userId" href="@Url.Action("Create", "Conversation", new { id = user.Id })">@user.UserName</a>

}
</div>