@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CommunityPortal Project</h1>
    <p>View public posts on the post page or create an account to visit the forums.</p>
</div>